.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #edf3f9;
    padding: 10px 0;
}

.social-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #007bff;
}