<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Dirección: Av. Ejemplo 123, Ciudad, Estado.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="social-icon"><mat-icon>facebook</mat-icon></a>
                <a href="#" class="social-icon"><mat-icon>explore_nearby</mat-icon></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <span class="text-muted">Copyright &copy; {{ currentYear }} My App. Todos los derechos reservados.</span>
            </div>
        </div>
    </div>
</footer>
